<link rel="stylesheet" href="/css/site.css" />

@{

	var status = Context.Request.Query["status"];
	var approved = "";
	var readyforpickup = "";
	var cancelled = "";
	var all = "";

	switch (status)
	{
		case "approved":
			approved = "active text-white bg-secondary";
			break;
		case "readyforpickup":
			readyforpickup = "active text-white bg-secondary";
			break;
		case "cancelled":
			cancelled = "active text-white bg-secondary";
			break;
		default:
			all = "active text-white bg-secondary";
			break;
	}
}




<div class="card shadow border-0 mt-4" style="border-radius: 20px; padding: 10px;">
	<div class="row align-items-center">
		<div class="col text-center text-md-start" style="padding-left: 15px; padding-top: 5px;">
			<h1 style="color:black; margin-left: 10px; margin-top: 5px;">Orders</h1>
		</div>
		<ul class="list-group list-group-horizontal-sm pt-2">
			<a style="text-decoration:none;border-radius: 12px;margin-left:20px" asp-controller="Order" asp-action="OrderIndex" asp-route-status="approved">
			<li class="list-group-item @approved">Approved</li>
			</a>
			<a style="text-decoration:none;border-radius: 12px;margin-left:8px" asp-controller="Order" asp-action="OrderIndex" asp-route-status="readyforpickup">
			<li class="list-group-item @readyforpickup">Ready for Pickup</li>
			</a>
			<a style="text-decoration:none;border-radius: 12px;margin-left:8px" asp-controller="Order" asp-action="OrderIndex" asp-route-status="cancelled">
			<li class="list-group-item @cancelled">Cancelled</li>
			</a>
			<a style="text-decoration:none;border-radius: 12px;margin-left:8px" asp-controller="Order" asp-action="OrderIndex" asp-route-status="all">
			<li class="list-group-item @all">All</li>
			</a>
		</ul>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Status</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
</div>

@section Scripts {
	<script src="~/js/order.js"></script>
}
